* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #63b289;
    color: white;
}

.logo {
    height: 50px;
    width: auto;
}

.logo img {
    height: 50px;
    margin-right: 15px;
}

/* .gambiarra {
    margin-left: 6.3%;
} */

.site-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}

.btn-voltar {
    padding: 10px 15px;
    background-color: #125b50;
    color: #eff6f2;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-voltar:hover {
    background-color: #0d443c;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.table{
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    gap: 20px;
    border-collapse: separate; /* Mantém as bordas separadas */
    border-spacing: 5px; /* Define o espaço entre as bordas */
    border: none;
    /* border: 1 px solid black; */
}

.table, tr, th, td{
    /* border: 2px solid #ff5733; Cor laranja avermelhada */
    border-collapse: collapse;
    /* border: 1px solid black; */
}

th, td {
    border: 2px solid #63b289; /* Azul */
    background-color: #f5f5f5; /* Fundo cinza claro para destacar */
}

td{
    padding: 15px;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #125b50;
    color: #eff6f2;
}