* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #63b289;
    color: white;
}

.logo {
    height: 50px;
    width: auto;
}

.logo img {
    height: 50px;
    margin-right: 15px;
}

.gambiarra {
    margin-left: 6.3%;
}

.site-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}

/* Cadastrar button styles */
.box-button-id {
    display: flex;
    gap: 10px;
}

.btn-menu {
    padding: 10px 15px;
    background-color: #125b50;
    color: #eff6f2;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-menu:hover {
    background-color: #0d443c;
}

/* Main content */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h2 {
    color: #125b50;
}

#perfil-info {
    margin: 20px 0;
    text-align: left;
}

#perfil-info p {
    margin: 10px 0;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

/* Footer styles */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #125b50;
    color: #eff6f2;
}
#perfil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#foto-perfil {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #125b50;
}
