* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #eff6f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #63b289;
    color: white;
}

.logo img {
    height: 50px;
}

.site-name {
    font-size: 1.5em;
    font-weight: bold;
}

.btn-voltar {
    padding: 10px 15px;
    background-color: #125b50;
    color: #eff6f2;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-voltar:hover {
    background-color: #0d443c;
}

.container {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-editar-perfil label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.form-editar-perfil input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-salvar {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #125b50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-salvar:hover {
    background-color: #0d443c;
}